{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "components/nav_menu.html" %}

<section id="about" class="py-5">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 ">
                <h3 class="mb-4">Sobre Nós</h3>
                <p>Na Musicando, acreditamos que a música é uma linguagem universal que tem o poder de inspirar, educar e transformar vidas.
                    Desde a nossa fundação, temos dedicado nosso compromisso à excelência musical e à criação de um ambiente acolhedor e
                    inspirador para todos os amantes da música.</p>
        
                <h4>Nossa Missão:</h4>
                <p>Nossa missão é proporcionar uma educação musical de alta qualidade, promovendo o desenvolvimento artístico e
                    intelectual de nossos alunos. Buscamos cultivar uma paixão duradoura pela música, incentivando a expressão
                    criativa e o crescimento pessoal.</p>
        
                <h4>Compromisso com a Excelência:</h4>
                <p>Na Musicando, a excelência é a base de tudo o que fazemos. Nossos professores são músicos talentosos e educadores
                    dedicados, empenhados em orientar nossos alunos em sua jornada musical. Oferecemos uma variedade de cursos que
                    atendem a todos os níveis de habilidade, desde iniciantes até músicos avançados.</p>
        
                <h4>Instalações e Recursos:</h4>
                <p>Nossas instalações foram projetadas para criar um ambiente propício ao aprendizado musical. Contamos com salas de
                    aula bem equipadas, estúdios de prática individual e instrumentos de alta qualidade. Além disso, investimos em
                    tecnologia de ponta para proporcionar uma experiência de aprendizado enriquecedora.</p>
        
                <h4>Comunidade Musical:</h4>
                <p>A Musicando é mais do que uma instituição educacional; somos uma comunidade apaixonada pela música. Promovemos
                    eventos regulares, como recitais, concertos e workshops, para reunir nossos alunos, professores e entusiastas da
                    música.</p>
        
                <h4>Valores:</h4>
                <ul>
                    <li><strong>Excelência:</strong> Buscamos a excelência em todos os aspectos do ensino e da prática musical.</li>
                    <li><strong>Inovação:</strong> Abraçamos a inovação e estamos comprometidos com a evolução constante.</li>
                    <li><strong>Inclusão:</strong> Celebramos a diversidade musical e acolhemos alunos de todas as origens e
                        habilidades.</li>
                    <li><strong>Paixão:</strong> Nutrimos a paixão pela música e incentivamos a autoexpressão artística.</li>
                </ul>
        
                <h4>Junte-se a Nós:</h4>
                <p>Seja você um iniciante entusiasmado ou um músico experiente, convidamos você a se juntar à Musicando. Descubra o
                    mundo da música conosco e embarque em uma jornada emocionante e edificante.</p>
        
                <p>Estamos ansiosos para compartilhar a alegria da música e inspirar seu talento na Musicando.</p>
        
                <p>Seja bem-vindo à nossa comunidade musical!</p>

                <p>JOÃO DE DEUS</p>

            </div>
        </div>
    </div>
</section>

{% endblock %}